#dynamicFormSettings{
  display: none;
}

#signup-form-details{
  display: none;
}

#dynamic-form-details{
  display: none;
}

#patient-form-creation{
  display: none;
}

.signup-detail{
    margin-bottom: 10px;
}

.signup-detail-highlight{
    background-color: rgb(240,240,240);
    border-radius: 10px;
    border: 1px solid rgb(220,220,220);
    display: flex;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    cursor: pointer;
}

.signup-detail-breakdown{
    background-color: rgb(250,250,250);
    border: 1px solid rgb(220, 220, 220);
    margin-top: 5px;
    border-radius: 10px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: none;
}

.baloonAverage{
    width: 200px;
    height: 200px;
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;}

.averageContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    flex-direction: column;
    align-items: center;
}

.patientKeyValue{
    display: flex;
    flex-grow: 1;
}

.patientKeyDiv{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.patientValueDiv{
    flex-grow: 4;
    margin-left: 20px;
}
